@using BaelyCenter.Enum
@model BaelyCenter.Models.Student
@{
    var numList = Enum.GetValues(typeof(Gender));// getting list of Gender
}
@{
    SelectList deptList = new SelectList(ViewBag.Departments, "Id", "Name");
}
@{
    ViewData["Title"] = "ADD";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
<h1>ADD</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input  asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label> <br>
                @*<select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
                    <option selected disabled > ----Select Gender----</option>
                </select>*@
                @foreach (var item in numList)
                {
                     @*@Html.RadioButton("Gender", item.ToString())*@
                     @item.ToString()
                     <input type="radio" asp-for="Gender" value="@item" checked>
                }
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Id" class="control-label"> Depratment</label>
                <select asp-for="Dept_Id" asp-items="deptList">
                    <option selected disabled > ---Select DEpartment----</option>
                </select>
                
                <span asp-validation-for="Dept_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{if (Model.Id !=0)
                {
                    <input type="submit" value="Save Edit" class="btn btn-primary" />    //for Edit Page
                }
                else{<input type="submit" value="Create" class="btn btn-primary" />}  //for Creat or Add page
                 } 
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Showall">Back to List</a>
</div>

