@model BaelyCenter.Models.Course

@{
    ViewData["Title"] = "Add";
}
@{
    SelectList InstructorList;
    if (Model != null)
    {
        InstructorList = new SelectList(ViewBag.instructorList, "Id", "Name", Model.Inst_Id);
        
    }
    else {
        InstructorList = new SelectList(ViewBag.instructorList, "Id", "Name");
       
    }
}

<h1>Add</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
          @if(Model!=null)
            {
                <input type="hidden"asp-for=Id>
               
            }
             
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDegree" class="control-label"></label>
                <input asp-for="CourseDegree" class="form-control" />
                <span asp-validation-for="CourseDegree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinDegree" class="control-label"></label>
                <input asp-for="MinDegree" class="form-control" />
                <span asp-validation-for="MinDegree" class="text-danger"></span>
            </div>
            <div >
                <label asp-for="Dept_Id" class="control-label">Department</label>
             
              
               @ViewBag.Department.Name
                @if (Model.Dept_Id == 0) { <input type="hidden" asp-for =Dept_Id value="@ViewBag.DeptId"> }
                <input type="hidden" asp-for =Dept_Id value="@Model.Dept_Id">
                
               
            </div>
            <div class="form-group">
                <label asp-for="Inst_Id" class="control-label"></label>
               <select asp-for="Inst_Id" asp-items="InstructorList">
                   <option disabled selected > ---select Department--- </option>

               </select>
                <span asp-validation-for="Inst_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
